.RollDice {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(146, 146, 236, 0.705);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.RollDice-dice-container {
  width: 100vw;
}
.RollDice-button {
  width: 25vw;
  height: 10vh;
  border-radius: 1px;
  font-size: 2.5rem;
}