.Dice {
  font-size: 10rem;
  color: rgb(228, 209, 102);
}
.isRolling {
  animation: roll 0.1s infinite;
}
@keyframes roll {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}